/* Desktop */

$media-desktop-xl: '#{pxrem(1600)}rem'; //Testar em 1536px
$media-desktop-lg: '#{pxrem(1366)}rem';
$media-desktop-md: '#{pxrem(1280)}rem';
$media-desktop-sm: '#{pxrem(1080)}rem'; //Testar em 1024px

/* Tablet */

$media-tablet: '#{pxrem(962)}rem'; //Testar em 834px

/* Mobile */

$media-mobile-xl: '#{pxrem(768)}rem'; //Testar em 720px
$media-mobile-lg: '#{pxrem(640)}rem'; //Testar em 540px
$media-mobile-md: '#{pxrem(480)}rem'; //Testar em 414px
$media-mobile-sm: '#{pxrem(375)}rem'; //Testar em 360px
$media-mobile-xs: '#{pxrem(320)}rem';
