@use 'sass:math';

// pixel to em

@function pxem ($pixels, $context: 16) {

	@return math.div($pixels, $context);
}

// pixel to rem

@function pxrem ($pixels, $context: 16) {

	@return math.div($pixels, $context);
}

/*
Para calcular VH (vertical height) dividimos o valor em pixels pela altura da tela base dividido por 100
EX: 14px / (1080 / 100) = ‭1.296296296296296‬vh
*/

@function pxvh ($pixels) {
	$screenHeight: math.div(768, 100);
	$result: math.div($pixels, $screenHeight);

	@return $result + vh;
}

/*
Para calcular VW (vertical width) dividimos o valor em pixels pela largura da tela base dividido por 100
EX: 14px / (1920 / 100) = ‭1.296296296296296‬vh
*/

@function pxvw ($pixels) {
	$screenWidth: math.div(1440, 100);
	$result: math.div($pixels, $screenWidth);

	@return $result + vw;
}
